:root {
  /* colors */
  --amethyst-100: #d1b6f7;
  --amethyst-200: #b488f1;
  --amethyst-300: #975aec;
  --amethyst-400: #7a2ce7;
  --amethyst-50: #eee4fc;
  --amethyst-500: #6117c9;
  --amethyst-600: #4b129c;
  --amethyst-700: #350d6e;
  --amethyst-800: #1f0740;
  --amethyst-900: #090212;
  --aquamarine-100: #c4edfd;
  --aquamarine-200: #92defc;
  --aquamarine-300: #5fcefa;
  --aquamarine-400: #2fbff9;
  --aquamarine-50: #f5fcff;
  --aquamarine-500: #07aced;
  --aquamarine-600: #0688bc;
  --aquamarine-700: #04648a;
  --aquamarine-800: #034159;
  --aquamarine-900: #011d28;
  --citrine-100: #f9eebd;
  --citrine-200: #f5e28e;
  --citrine-300: #f1d65f;
  --citrine-400: #edca30;
  --citrine-50: #fdfaec;
  --citrine-500: #d8b313;
  --citrine-600: #a98c0f;
  --citrine-700: #7a650b;
  --citrine-800: #4b3e06;
  --citrine-900: #1c1702;
  --crystal-100: #c2e1ff;
  --crystal-200: #8fc8ff;
  --crystal-300: #5cafff;
  --crystal-400: #2997ff;
  --crystal-50: #f5faff;
  --crystal-500: #007df4;
  --crystal-600: #0063c2;
  --crystal-700: #00498f;
  --crystal-800: #002f5c;
  --crystal-900: #001529;
  --cyan-100: #bff8f5;
  --cyan-200: #91f2ed;
  --cyan-300: #64ede6;
  --cyan-400: #36e7df;
  --cyan-50: #edfdfc;
  --cyan-500: #19d2c9;
  --cyan-600: #13a49d;
  --cyan-700: #0e7771;
  --cyan-800: #094946;
  --cyan-900: #031b1a;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-50: #f9fafb;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --gray-900: #0e131f;
  --green-100: #c2f4d9;
  --green-200: #97edbe;
  --green-300: #6ce5a3;
  --green-400: #40dd88;
  --green-50: #eefcf4;
  --green-500: #23c76d;
  --green-600: #1c9c56;
  --green-700: #14713e;
  --green-800: #0c4526;
  --green-900: #051a0e;
  --lime-100: #e4f4c2;
  --lime-200: #d2ed97;
  --lime-300: #bfe56c;
  --lime-400: #acdd40;
  --lime-50: #f7fcee;
  --lime-500: #93c723;
  --lime-600: #739c1c;
  --lime-700: #537114;
  --lime-800: #33450c;
  --lime-900: #131a05;
  --magenta-100: #f7bff8;
  --magenta-200: #f191f2;
  --magenta-300: #eb64ed;
  --magenta-400: #e536e8;
  --magenta-50: #fdedfd;
  --magenta-500: #cf19d2;
  --magenta-600: #a213a4;
  --magenta-700: #750e77;
  --magenta-800: #480949;
  --magenta-900: #1b031b;
  --neutral-black: #030712;
  --neutral-white: #ffffff;
  --orange-100: #f9dabd;
  --orange-200: #f5c08e;
  --orange-300: #f1a65f;
  --orange-400: #ed8c30;
  --orange-50: #fdf1ec;
  --orange-500: #d87213;
  --orange-600: #a9590f;
  --orange-700: #7a400b;
  --orange-800: #4b2806;
  --orange-900: #1c0f02;
  --red-100: #f6b6c7;
  --red-200: #f188a4;
  --red-300: #ec5b82;
  --red-400: #e62d5e;
  --red-50: #fce4ea;
  --red-500: #c91746;
  --red-600: #9b1237;
  --red-700: #6e0d27;
  --red-800: #400716;
  --red-900: #120206;
  --rose-100: #f8bfdc;
  --rose-200: #f291c3;
  --rose-300: #ed64ab;
  --rose-400: #e83692;
  --rose-50: #fdedf5;
  --rose-500: #d21978;
  --rose-600: #a4135e;
  --rose-700: #770e44;
  --rose-800: #49092a;
  --rose-900: #1b0310;
  --sapphire-100: #c0cdfc;
  --sapphire-200: #90a7f9;
  --sapphire-300: #5f81f7;
  --sapphire-400: #2f5bf4;
  --sapphire-50: #f0f4fe;
  --sapphire-500: #0c3ce4;
  --sapphire-600: #092fb3;
  --sapphire-700: #072283;
  --sapphire-800: #041652;
  --sapphire-900: #020922;

  /* Spacings */
  --spacing-1: 2px;
  --spacing-2: 4px;
  --spacing-3: 8px;
  --spacing-4: 12px;
  --spacing-5: 16px;
  --spacing-6: 20px;
  --spacing-7: 24px;
  --spacing-8: 32px;
  --spacing-9: 40px;
  --spacing-10: 48px;
  --spacing-11: 64px;
  --spacing-12: 80px;
  --spacing-13: 96px;
  --spacing-14: 120px;

  /* Radius */
  --radius-0: 0px;
  --radius-xs: 2px;
  --radius-s: 4px;
  --radius-m: 8px;
  --radius-l: 16px;
  --radius-xl: 24px;
  --radius-full: 999px;

  --shadow-xs: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  --shadow-s: 0px 1px 3px 0px rgba(16, 24, 40, 0.06), 0px 1px 3px 0px rgba(16, 24, 40, 0.1);
  --shadow-m: 0px 2px 4px -2px rgba(16, 24, 40, 0.06), 0px 4px 8px -2px rgba(16, 24, 40, 0.1);
  --shadow-l: 0px 4px 6px -2px rgba(16, 24, 40, 0.03), 0px 12px 16px -4px rgba(16, 24, 40, 0.08);
  --shadow-xl: 0px 8px 8px -4px rgba(16, 24, 40, 0.03), 0px 20px 24px -4px rgba(16, 24, 40, 0.08);
  --shadow-2xl: 0px 24px 48px -12px rgba(16, 24, 40, 0.18);
  --shadow-3xl: 0px 32px 64px -12px rgba(16, 24, 40, 0.14);
}
