.navbarFullWidthContainer {
    .header {
        align-items: stretch;
        display: inline-flex;
        flex-wrap: wrap;
        left: 80px !important;
        padding: 0 40px;
        position: fixed;
        width: calc(100% - 80px);
        z-index: 990;

        .header-fullWidthOpacity {
            background: var(--background-base-frosted-glass, rgba(249, 250, 251, .8));
            backdrop-filter: blur(15px);
            -webkit-backdrop-filter: blur(15px);
            position: absolute;
            left: 0;
            width: 100%;
            overflow: hidden;
            height: 56px;
        }

        .component-section {
            align-items: center;
            display: inline-flex;
            flex: 1 1 50%;
            padding: var(--spacing-4) 0;
            z-index: 1;
        }
        .component-section.first {
            .headerSectionFirstContent {
                align-items: center;
                display: inline-flex;
                margin: 0 0 0 var(--spacing-4);
                width: 100%;

                .skeleton {
                    margin: 0;
                }
            }
        }
        .component-section.last {
            justify-content: flex-end;

            .topBarMenuItems {
                display: inline-flex;
                flex-direction: row;

                .menuItem {
                    margin: 0 0 0 var(--spacing-3);
                }
            }
        }
    }

    .sidebar {
        background: var(--background-base);
        border-right: 1px solid var(--border-color-primary);
        position: fixed;
        left: 0;
        top: 0;
        width: 80px;
        height: 100vh;
        z-index: 1000;
    }

    .outer-container {
        margin: 100px 40px 0 40px;
        position: absolute;
        left: 80px;
        right: 0;
        width: auto;

        .contentArea {
            display: inline-flex;
            flex-direction: column;
            margin: 0 0 var(--spacing-6);
            width: 100%;

            .gridContainer {
                display: grid;
            }
        }
    }

    @media only screen and (max-width: 36rem) {
        .header {
            left: 0 !important;
            width: 100%;
        }
        .mainNav {
            bottom: 0;
            height: 80px;
            left: unset;
            padding: 0;
            top: unset;
            width: 100%;

            .companyLogo {
                display: none;
            }
            .mainNavItems {
                align-items: center;
                flex-direction: row;
                max-height: 80px;
                justify-content: space-around;
            }
        }
        .outer-container {
            left: 0;
            margin: 100px 40px 120px 40px;
            position: unset;
        }
    }

    @media only screen and (min-width: 36rem) { /* 576px */
        .outer-container {}
    }

    @media only screen and (min-width: 48rem) { /* 768px */
        .outer-container {}
    }

    @media only screen and (min-width: 62rem) { /* 992px */
        .outer-container {}
    }

    @media only screen and (min-width: 75rem) { /* 1200px */
        .outer-container {}
    }

    @media only screen and (min-width: 87.5rem) {  /* 1400px */
        .header {
            left: 120px;
            margin: 0 auto;
            max-width: 1520px;
            padding: 0;
            right: 40px;
            width: auto;
        }

        .outer-container {
            border: 2px dashed green;
            margin: calc(56px + var(--spacing-3)) auto 0;
            max-width: 1520px;
            left: 120px;
            right: 40px;

            .contentArea {
                display: inline-flex;
                flex-direction: column;
                width: 100%;
            }
        }
    }
}

@media only screen and (min-width: 87.5rem) {
    .navbarFullWidthContainer.withTabs {
        .outer-container {
            margin: calc(105px + var(--spacing-3)) auto 0;
            max-width: 1520px;
            left: 120px;
            right: 40px;

            .contentArea {
                display: inline-flex;
                flex-direction: column;
                padding: 0 0 40px;
                width: 100%;
            }
        }
    }
}

@media only screen and (min-width: 87.5rem) {
    .navbarFullWidthContainer.withTabs {
        .outer-container {
            margin: calc(105px + var(--spacing-3)) auto 0;
            max-width: 1520px;
            left: 120px;
            right: 40px;

            .contentArea {
                display: inline-flex;
                flex-direction: column;
                padding: 0 0 40px;
                width: 100%;
            }
        }
    }
}
